.Topbar {
  background-color: #f7f7f7;
  padding: 30px 6%;
  padding-bottom: 20px;
}

.Topbar__row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.Topbar__row:not(:last-of-type) {
  margin-bottom: 20px;
}

.Topbar__date {
  color: #5a5ee7;
  font-size: 1.5rem;
}

.Topbar__tasks {
  color: #8f8d85;
}

.Topbar__month {
  color: #8f8d85;
  padding-left: 2.5px;
}
