.Topbar {
  background-color: #f7f7f7;
  padding: 25px 6%;
  border-bottom: 1px solid #d2d3e3;
}

.Topbar__row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.Topbar__row:not(:last-of-type) {
  margin-bottom: 10px;
}

.Topbar__date {
  color: #5a5ee7;
  font-size: 1.3rem;
}

.Topbar__tasks {
  color: #8f8d85;
}

.Topbar__month {
  color: #8f8d85;
  padding-left: 2.5px;
}

@media only screen and (min-width: 415px) {
  .Topbar__date {
    font-size: 1.7rem;
  }
}
